workflows/weekly-summary/workflow.json
{
  "name": "Weekly GitHub Summary (v2)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 5"
            }
          ]
        }
      },
      "id": "7f9a1b2c-3d4e-5f6a-7b8c-9d0e1f2a3b4c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "REPO_OWNER",
              "stringValue": "claude-builders-bounty"
            },
            {
              "name": "REPO_NAME",
              "stringValue": "claude-builders-bounty"
            },
            {
              "name": "LANGUAGE",
              "stringValue": "EN"
            },
            {
              "name": "DISCORD_WEBHOOK_URL",
              "stringValue": "https://discord.com/api/webhooks/..."
            },
            {
              "name": "SLACK_WEBHOOK_URL",
              "stringValue": "https://hooks.slack.com/services/..."
            },
            {
              "name": "CREATE_GITHUB_ISSUE",
              "stringValue": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "getCommits",
        "owner": "={{ $json.REPO_OWNER }}",
        "repository": "={{ $json.REPO_NAME }}",
        "filters": {
          "since": "={{ $now.minus(7, 'days').toISO() }}"
        }
      },
      "id": "b2c3d4e5-f6a7-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "GitHub Commits",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        500,
        100
      ],
      "credentials": {
        "githubApi": {
          "id": "github-cred-id"
        }
      }
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "getAll",
        "owner": "={{ $json.REPO_OWNER }}",
        "repository": "={{ $json.REPO_NAME }}",
        "filters": {
          "state": "closed",
          "since": "={{ $now.minus(7, 'days').toISO() }}"
        }
      },
      "id": "c3d4e5f6-a7b8-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "GitHub Issues",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "githubApi": {
          "id": "github-cred-id"
        }
      }
    },
    {
      "parameters": {
        "resource": "pullRequest",
        "operation": "getAll",
        "owner": "={{ $json.REPO_OWNER }}",
        "repository": "={{ $json.REPO_NAME }}",
        "filters": {
          "state": "closed"
        }
      },
      "id": "d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "GitHub PRs",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "credentials": {
        "githubApi": {
          "id": "github-cred-id"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const commits = $items('GitHub Commits').map(i => i.json.commit.message);\nconst issues = $items('GitHub Issues').map(i => i.json.title);\nconst prs = $items('GitHub PRs').filter(i => i.json.merged_at).map(i => i.json.title);\nconst lang = $node[\"Set Variables\"].json[\"LANGUAGE\"];\n\nreturn {\n  prompt: `Act as a Senior Developer Relations Engineer. Your task is to generate a high-quality, narrative weekly summary of the following GitHub activity in ${lang}.\\n\\nTarget Audience: Project maintainers and community members.\\nTone: Professional, encouraging, and clear.\\n\\nCommits from past 7 days:\\n${commits.join('\\n')}\\n\\nClosed Issues:\\n${issues.join('\\n')}\\n\\nMerged Pull Requests:\\n${prs.join('\\n')}\\n\\nStructure your response as follows:\\n1. 🚀 Highlights (2-3 key achievements)\\n2. 🛠️ Development Updates (Narrative summary of commits and PRs)\\n3. 🐛 Bug Fixes & Issues (Summary of resolved items)\\n4. 📈 Overall Progress (1 sentence summary of the week's momentum)\\n\\nEnsure the output is in ${lang}.`\n};"
      },
      "id": "e5f6a7b8-c9d0-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "Format Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "prompt": "={{ $json.prompt }}",
        "maxTokens": 2000
      },
      "id": "f6a7b8c9-d0e1-2f3a-4b5c-6d7e8f9a0b1c",
      "name": "Claude AI",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-cred-id"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"Set Variables\"].json[\"DISCORD_WEBHOOK_URL\"] }}",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.text }}"
            }
          ]
        }
      },
      "id": "a7b8c9d0-e1f2-3a4b-5c6d-7e8f9a0b1c2d",
      "name": "Send to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "owner": "={{ $node[\"Set Variables\"].json[\"REPO_OWNER\"] }}",
        "repository": "={{ $node[\"Set Variables\"].json[\"REPO_NAME\"] }}",
        "title": "=Weekly Summary: {{ $now.minus(7, 'days').toFormat('yyyy-MM-dd') }} to {{ $now.toFormat('yyyy-MM-dd') }}",
        "body": "={{ $json.text }}"
      },
      "id": "b8c9d0e1-f2a3-4b4c-5d6e-7f8a9b0c1d2e",
      "name": "Create GitHub Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1250,
        400
      ],
      "credentials": {
        "githubApi": {
          "id": "github-cred-id"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"Set Variables\"].json[\"SLACK_WEBHOOK_URL\"] }}",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        }
      },
      "id": "c9d0e1f2-a3b4-5c6d-7e8f-9a0b1c2d3e4f",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1250,
        600
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "GitHub Commits",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub Issues",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Commits": {
      "main": [
        [
          {
            "node": "Format Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Issues": {
      "main": [
        [
          {
            "node": "Format Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub PRs": {
      "main": [
        [
          {
            "node": "Format Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Prompt": {
      "main": [
        [
          {
            "node": "Claude AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI": {
      "main": [
        [
          {
            "node": "Send to Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create GitHub Issue",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f"
}
